@config "../tailwind.config.js";
@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background: rgb(243, 243, 243);
  background-image: radial-gradient(rgba(37, 99, 235, 0.3) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

.dark body {
  width: 100vw;
  overflow-x: hidden;
  background: rgb(12, 12, 12);
  background-image: radial-gradient(rgba(37, 99, 235, 0.3) 1px, transparent 0);
  background-size: 40px 40px;
  background-position: -19px -19px;
}

::-webkit-scrollbar {
  width: 0.25em;
}

::-webkit-scrollbar-track {
  background-color: rgb(30, 41, 59);
}

::-webkit-scrollbar-thumb {
  background: rgb(37, 99, 235);
  border-radius: 8px;
}
